
.console-window {
  background-color: #000;
  height: 300px;
  width: 750px;
  overflow-y: scroll;
  overflow-x: hidden;

  font-family: courier, monospace;
  color:#fff;
}

.console-window ul {
  list-style-type: none;
  list-style-position: outside;
}
.console-window li {
  display: inline-block;
}

.console-modal-window .modal-dialog {
  width: 780px;
}

.console-input {
  height: 2em;
  width: 600px;
  background-color: #000;
  font-family: courier, monospace;
  color:#fff;
}
