
.console-window {
  background-color: #000;
  height: 300px;
  width: 750px;
  overflow-y: scroll;
  overflow-x: hidden;

  font-family: courier, monospace;
  color:#fff;
}

.console-window ul {
  list-style-type: none;
  list-style-position: outside;
}
.console-window li {
  display: inline-block;
}

.console-modal-window .modal-dialog {
  width: 780px;
}

.console-prompt {
  background-color: #000;
  font-family: courier, monospace;
  color:#fff;
  float: left;
  width: 20px;
  padding-top: 4px;
}

.console-input {
  background-color: #000;
  font-family: courier, monospace;
  height: 24px;
  width: 715px;
  color:#fff;
  border: none;
  outline: none;
  float: left;
  padding: 0;
}
