[mgm]
  SimianUrl = 127.0.0.1
  SessionSecret = 35FA4ACE5EF326AE5474AE14EF143
  OpensimPort = 8000
  WebPort = 8080
  PublicHostname = publicsite.com

[MySQL]
  Username = mgm
  Password = mgm
  Host = 127.0.0.1
  Database = mgm

[Email]
  Host = mailprovider.com
  Port = 25
  SSL = true
  User = mailman
  Password = password123
  Sender = no-reply@provider.com
  Admin = admin@provider.com
  //Admin = admin2@provider.com
  //Admin = admin3@provider.com
