<table>
  <tr>
    <td>
      <label>Avatar Name:</label>
    </td>
    <td>{{account.Name}}</td>
  </tr>
  <tr>
    <td>
      <label>Avatar User Level:</label>
    </td>
    <td>{{account.AccessLevel}}</td>
  </tr>
  <tr>
    <td>
      <label>User Email:</label>
    </td>
    <td>{{account.Email}}</td>
  </tr>
</table>
<hr>

<h3>Reset Password</h3>
<form ng-submit="setPassword()">
  <div class="input-group" style="float:left">
    <span class="input-group-addon">Password:</span>
    <input class="btn btn-default" type="password" ng-model="password.password" />
  </div>
  <div class="input-group" style="float:left">
    <span class="input-group-addon">Confirm:</span>
    <input class="btn btn-default" type="password" ng-model="password.confirm" />
  </div>
        <button class="btn btn-primary" type="submit" ng-disabled="password.password==='' || password.confirm===''||password.password!==password.confirm">Submit reset</button>
        <br>
        <strong style="color:red">{{password.passwordError}}</strong>
        <strong style="color:green">{{password.passwordResult}}</strong>
</form>
<hr>
<h3>Load IAR File</h3>
<p>Select a file and enter your password to load an iar file. The iar file will be loaded into the root of your inventory, it will not merge with any existing folders.</p>
<form ng-submit="iar.upload()">
  <div class="input-group">
    <span class="input-group-btn">
      <span class="btn btn-primary btn-file">
        Browse&hellip;
        <input type="file" nv-file-select uploader="uploader" accept=".iar" />
      </span>
    </span>
    <input type="text" class="form-control" ng-model="oar.filename" readonly>
    <span class="input-group-btn">
      <button class="btn btn-danger" ng-disabled="iarName===''" type="submit">Upload</button>
    </span>
  </div>
</form>

<hr>
<h3>Save IAR File</h3>
<p>Please enter your password to save an IAR file. This file will include your entire inventory. This is a long-running asynchronous task. You will be sent an email when it completes. The file will be listed in your taskbar at the bottom of the Account tab, which is where you will download it from.</p>
<form>
  <button class="btn btn-primary" ng-click="iar.save()">Schedule</button>
</form>
