<table>
  <tr>
    <td>
      <label>Avatar Name:</label>
    </td>
    <td>{{account.Name}}</td>
  </tr>
  <tr>
    <td>
      <label>Avatar User Level:</label>
    </td>
    <td>{{account.AccessLevel}}</td>
  </tr>
  <tr>
    <td>
      <label>User Email:</label>
    </td>
    <td>{{account.Email}}</td>
  </tr>
</table>
<hr>
<h3>Reset Password</h3>
<form ng-submit="setPassword(password, passwordConfirm)">
  <table>
    <tr>
      <td>
        <label>Password:</label>
      </td>
      <td>
        <input type="password" ng-model="password" />
      </td>
      <td><strong style="color:red">{{passwordError}}</strong>
      </td>
    </tr>
    <tr>
      <td>
        <label>Confirm:</label>
      </td>
      <td>
        <input type="password" ng-model="passwordConfirm" />
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <button class="btn" type="submit" ng-disabled="disablePasswordSubmit" ng-class="{'disabled': disablePasswordSubmit}">Submit reset</button>
      </td>
    </tr>
  </table>
</form>
<hr>
<h3>Iar functions:</h3>
<button ng-click="showLoadIar()">Load IAR</button>
<button ng-click="showSaveIar()">Save IAR</button>
