<div class="navbar navbar-default ng-scope">
  <ul class="nav navbar-nav">
    <li ng-class="{active: isActive('estates')}"><a href="#/grid/estates">Estates</a>
    </li>
    <li ng-class="{active: isActive('groups')}"><a href="#/grid/groups">Groups</a>
    </li>
    <li ng-class="{active: isActive('hosts')}" ng-if="auth.AccessLevel > 249"><a href="#/grid/hosts">Hosts</a>
    </li>
  </ul>
</div>

<div ng-if="isActive('estates')">
  <table style="width: 100%;">
    <tr>
      <th>
        <button style="float: left;" ng-click="estate.showAddModal()" ng-if="auth.AccessLevel > 249" class="btn btn-secondary btn-xs">Add A New Estate</button>
      </th>
      <th>Name</th>
      <th>Regions</th>
      <th>Owner</th>
      <th>Managers</th>
    </tr>
    <tr ng-repeat="est in estates | orderBy:'Name'" ng-class-odd="'odd'" ng-class-even="'even'">
      <td>
        <button ng-click="estate.remove(est)" style="float: right;">Remove</button>
      </td>
      <td>{{est.Name}}</td>
      <td>{{est.Regions.length}}</td>
      <td>{{getUserNameFromID(est.Owner)}}</td>
      <td colspan="2">{{getUserNamesFromIDs(est.Managers)}}</td>
    </tr>
  </table>
</div>
<div ng-if="isActive('groups')">
  <table style="width: 100%;">
    <tr>
      <th>
        <button style="float: left;" ng-click="group.showAddModal()" ng-if="auth.AccessLevel > 249" class="btn btn-secondary btn-xs">Add A New Group</button>
      </th>
      <th>Name</th>
      <th>Founder</th>
      <th># Members</th>
      <th># Roles</th>
    </tr>
    <tr ng-repeat="grp in groups | orderBy:'Name'" ng-class-odd="'odd'" ng-class-even="'even'">
      <td>
        <button ng-click="estate.remove(est)">Remove</button>
      </td>
      <td>{{grp.Name}}</td>
      <td>{{getUserNameFromID(grp.Founder)}}</td>
      <td>{{grp.Members.length}}</td>
      <td>{{grp.Roles.length}}</td>
    </tr>
  </table>

</div>
<div ng-if="isActive('hosts')" ng-if="auth.AccessLevel > 249">
  <table style="width: 100%;">
    <tr>
      <th>
        <button style="float: left;" ng-click="host.showAddModal()" ng-if="auth.AccessLevel > 249" class="btn btn-primary btn-sm">Add Host</button>
      </th>
      <th>Hostname</th>
      <th>Address</th>
      <th>#</th>
      <th>CPU</th>
      <th>Mem</th>
      <th>Network</th>
    </tr>
    <tr ng-repeat="hst in hosts | orderBy:'Name'" ng-class-odd="'odd'" ng-class-even="'even'">
      <tr style="height:45px;" ng-repeat="hst in hosts | orderBy:'Name'" ng-class-odd="'odd'" ng-class-even="'even'">
        <td>
          <button class="btn btn-danger btn-sm" ng-click="host.delete(hst)">Remove</button>
        </td>
        <td>{{hst.Hostname}}</td>
        <td>{{hst.Address}}</td>
        <td><sup>{{hst.Regions? hst.Regions.length : 0}}</sup>/<sub>{{hst.Slots}}</sub></td>
        <td ng-if="hst.Running === true">
          <div id="cpu-{{$index}}" mgm-chart data="hst.Status.CPUPercent"></div>
        </td>
        <td ng-if="hst.Running === true">{{hst.Status.MEMPercent.toFixed(2)}}% <br> {{(hst.Status.MEMUsed/1024).toFixed(2)}} MB</td>
        <td ng-if="hst.Running === true">{{(hst.Status.NetSent/1024).toFixed(2)}} KBps <br> {{(hst.Status.NetRecv/1024).toFixed(2)}} KBps</td>
      </tr>
    </tr>
  </table>
</div>

<script type="text/ng-template" id="removeHostModal.html">
  <div class="modal-header">
    <table>
      <tr>
        <td><h3 class="modal-title">{{object.Hostname}}</h3></td>
      </tr>
    </table>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to remove this host?</p>

    <p>There are {{object.RunningRegions}} regions running on this host that will immediately be killed.</p>

    <p>here are {{hst.Regions? hst.Regions.length : 0}} regions running on this host that will be unassigned.</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" ng-click="confirm()">Yes</button>
    <button class="btn btn-primary" ng-click="cancel()">No/Cancel</button>
  </div>
</script>
