<table style="width: 100%">
  <tr>
    <td>
      <button ng-click="region.showAdd()">AddNewRegion</button>
    </td>
    <td>
      <select ng-model="search.estate" ng-options="e.Name for e in estates | orderBy: 'Name'" />
    </td>
    <td>
      <input placeholder="Name Search" type="search" ng-model="search.regionName" style="width: 10em">
    </td>
  </tr>
</table>
<table style="width: 100%">
  <tbody ng-repeat="e in estates | orderBy: 'Name'" ng-show="shouldShow(e)">
    <tr>
      <td colspan="6">
        <h3>{{e.Name}}</h3>
      </td>
    </tr>
    <tr ng-repeat="r in e.regions | orderBy: 'Name'" ng-class-odd="'odd'" ng-class-even="'even'" >
      <td>{{r.Name}}</td>
      <td ng-if="r.Status.Running === true"> {{r.Status.CPUPercent.toFixed(2)}}% CPU</td>
      <td ng-if="r.Status.Running"> {{r.Status.MemKB}} KB</td>
      <td ng-if="r.Status.Running">Up {{humanReadableUptime(r.Status.Uptime)}}</td>
      <td ng-if="r.Status.Running">{{r.Status.simStats.RootAg}} Users</td>
      <td ng-if="!r.Status.Running" colspan="4">~ is not running</td>
      <td align="right">
        <button ng-if="!r.Status.Running" ng-click="region.start(r)" class="btn btn-xs btn-default">Start</button>
        <button ng-if="r.Status.Running" ng-click="region.stop(r)" class="btn btn-xs btn-default">Stop</button>
        <button ng-if="r.Status.Running" ng-click="region.kill(r)" class="btn btn-xs btn-danger">Kill</button>
        <button ng-click="region.content(r)" ng-if="r.Status.Running" class="btn btn-xs btn-default">Content</button>
        <button ng-click="region.manage(r)" ng-if="auth.AccessLevel > 249" class="btn btn-xs btn-default">Manage</button>
        <button ng-click="region.log(r)" class="btn btn-xs btn-default">log</button>
      </td>
    </tr>
  </tbody>
</table>

<script type="text/ng-template" id="manageSettingsModal.html">
  <div class="modal-header">
    <table width="560px">
      <tr>
        <td><button class="btn btn-danger" ng-click="region.remove(r)">Delete</button></td>
        <td><h3 class="modal-title">{{region.Name}}</h3></td>
      </tr>
    </table>
  </div>
  <div class="modal-body">
    <table width="600px">
      <tr>
        <td>Change Estate</td>
        <td colspan="2"><select ng-model="currentEstate" ng-options="est.Name for est in estates | orderBy: 'Name'"></select></td>
        <td><button ng-click="setEstate()" class="btn btn-xs btn-default" ng-class="{disabled: currentEstate.Name===region.Estate}">Set</button></td>
      </tr>
      <tr>
        <td>Change Host</td>
        <td colspan="2"><select ng-model="currentHost" ng-options="h.Hostname for (id, h) in hosts"></select></td>
        <td><button ng-click="setHost()" class="btn btn-xs btn-default" ng-class="{disabled: currentHost.ID===region.Host}">Set</button></td>
      </tr>
      <tr>
        <form>
        <td>Change Position</td>
        <td><label>X</label><input ng-model="currentX" type="text" min="0" step="1" size="12" pattern='[0-9]{1,5}' required/></td>
        <td><label>Y</label><input ng-model="currentY" type="text" min="0" step="1" size="12" pattern='[0-9]{1,5}' required/></td>
        <td><button type="submit" ng-click="setXY()" class="btn btn-xs btn-default" ng-class="{disabled: currentX===region.LocX && currentY===region.LocY}">Set</button></td>
        </form>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" ng-click="close()">Close</button>
  </div>
</script>
