<div class="navbar navbar-default ng-scope" ng-if="auth.AccessLevel > 249">
  <ul class="nav navbar-nav">
    <li ng-class="{active: isActive('active')}"><a href="#/users/active">Active</a>
    </li>
    <li ng-class="{active: isActive('suspended')}"><a href="#/users/suspended">Suspended</a>
    </li>
    <li ng-class="{active: isActive('pending')}"><a href="#/users/pending">Pending</a>
    </li>
  </ul>
</div>
<table ng-if="isActive('active')">
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>
  <tr ng-repeat="usr in activeUsers | orderBy:'Name'">
    <td>{{usr.Name}}</td>
    <td>{{usr.Email}}</td>
    <td>
      <button ng-if="auth.AccessLevel > 249" style="float:right" ng-click="user.showGroups(u)">Groups</button>
    </td>
    <td>
      <button ng-if="auth.AccessLevel > 249" style="float:right" ng-click="user.showManage(u)">Manage</button>
    </td>
  </tr>
</table>
<table ng-if="isActive('suspended')">
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>
  <tr ng-repeat="usr in suspendedUsers | orderBy:'Name'">
    <td>{{usr.Name}}</td>
    <td>{{usr.Email}}</td>
    <td>
      <button ng-if="auth.AccessLevel > 249" style="float:right" ng-click="user.showManage(u)">Restore</button>
    </td>
    <td>
      <button ng-if="auth.AccessLevel > 249" style="float:right" ng-click="user.showManage(u)">Delete</button>
    </td>
  </tr>
</table>
<table ng-if="isActive('pending')">
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>
  <tr ng-repeat="usr in pendingUsers | orderBy:'Name'">
    <td>{{usr.Name}}</td>
    <td>{{usr.Email}}</td>
    <td>
      <button ng-if="auth.AccessLevel > 249" style="float:right" ng-click="user.showManage(u)">Review</button>
    </td>
  </tr>
</table>
