<div class="navbar navbar-default ng-scope" ng-if="auth.AccessLevel > 249">
  <ul class="nav navbar-nav">
    <li ng-class="{active: isActive('active')}"><a href="#/users/active">Active</a>
    </li>
    <li ng-class="{active: isActive('suspended')}"><a href="#/users/suspended">Suspended</a>
    </li>
    <li ng-class="{active: isActive('pending')}"><a href="#/users/pending">Pending</a>
    </li>
  </ul>
</div>

<table ng-if="isActive('active')">
  <tr>
    <th style="width: 80px"></th>
    <th>Name</th>
    <th>Email</th>
  </tr>
  <tr ng-repeat="usr in users | orderBy:'Name'">
    <td><span ng-if="user.isSuspended(usr)" style="color:red">suspended</span>
    </td>
    <td>{{usr.Name}}</td>
    <td>{{usr.Email}}</td>
    <td>
      <button ng-if="auth.AccessLevel > 249" style="float:right" ng-click="user.showGroups(u)">Groups</button>
    </td>
    <td>
      <button ng-if="auth.AccessLevel > 249" style="float:right" ng-click="user.showManage(u)">Manage</button>
    </td>
  </tr>
</table>
