<div>
  <table>
    <tr>
      <th>Estate</th>
      <th>Region</th>
      <th><a href="#/config">View Default Configs</a>
      </th>
    </tr>
    <tr>
      <td>
        <select ng-model="currentEstate" ng-change="displayEstate()" ng-options="e.Name for (key, e) in estates | orderBy: 'Name' track by e.ID"></select>
      </td>
      <td>
        <select ng-model="currentRegion" ng-change="displayConfig()" ng-options="r.Name for r in regions | orderBy: 'Name' track by r.UUID"></select>
      </td>
      <td>
        <button ng-click="config.create()">Insert New Config</button>
      </td>
    </tr>
  </table>

</div>


<div id="configView" ng-if="currentRegion.Name">
  <h1>{{currentRegion.Name}}</h1>
  <table>
    <tbody ng-repeat="(section,row) in editConfig">
      <tr>
        <td>[{{section}}]</td>
      </tr>
      <tr ng-repeat="(key,data) in row" ng-class-odd="'odd'" ng-class-even="'even'">
        <td ng-if="data.source==='region'">
          <button ng-click="config.modify(section, key, data.value)">Update</button>
          <button ng-click="config.default(section, key)">Default</button>
        </td>
        <td ng-if="data.source==='default'">
          <button ng-click="config.modify(section, key, data.value)">Override</button>
        </td>
        <td>{{key}}</td>
        <td>{{data.value}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div id="configView" ng-if="!currentRegion.Name">
  <h1>Default Settings</h1>
  <table style="width: 67em;">
    <tbody ng-repeat="(section,row) in editConfig">
      <tr>
        <td colspan="3">[{{section}}]</td>
      </tr>
      <tr ng-repeat="(key,data) in row" ng-class-odd="'odd'" ng-class-even="'even'">
        <td>
          <button ng-click="config.modify(section, key, data.value)" class="btn btn-xs">Update</button>
          <button ng-click="config.delete(section, key)" class="btn btn-xs">Delete</button>
        </td>
        <td>{{key}}</td>
        <td>{{data.value}}</td>
      </tr>
    </tbody>
  </table>
</div>
