<div class="navbar navbar-default ng-scope" ng-if="auth.AccessLevel > 249">
  <ul class="nav navbar-nav">
    <li ng-class="{active: isActive('active')}"><a href="#/users/active">Active</a>
    </li>
    <li ng-class="{active: isActive('suspended')}"><a href="#/users/suspended">Suspended</a>
    </li>
    <li ng-class="{active: isActive('pending')}"><a href="#/users/pending">Pending</a>
    </li>
  </ul>
</div>
<div ng-if="isActive('active')">
  <div class="input-group">
    <span class="input-group-btn">
      <button class="btn btn-default btn-file" ng-click="currentPage = currentPage <= 0 ? 0 : currentPage - 1">
        Previous&hellip;
      </button>
    </span>
    <span type="text" style="text-align: center" class="form-control" ng-init="currentPage=0; maxPage=Math.ceil(activeUsers.length/25) || 1;">Page {{currentPage+1}} of {{maxPage}}</span>
    <span class="input-group-btn">
      <button class="btn btn-default" ng-click="currentPage = currentPage >= maxPage-1 ? maxPage-1 : currentPage + 1">Next</button>
    </span>
  </div>
  <table style="width: 100%">
    <tr>
      <th>Name</th>
      <th style="padding-left:20px">Email</th>
    </tr>
    <tr ng-repeat="u in activeUsers | orderBy: 'Name' | limitTo: 25: currentPage*25">
      <td>{{u.Name}}</td>
      <td style="padding-left:20px">{{u.Email}}</td>
      <td ng-if="auth.AccessLevel > 249" style="padding-left:20px">
        <button class="btn btn-default btn-sm" style="float:right" ng-click="user.showGroups(u)">Groups</button>
        <button class="btn btn-default btn-sm" style="float:right" ng-click="user.showManage(u)">Manage</button>
      </td>
    </tr>
  </table>
</div>


<div ng-if="isActive('suspended')">
  <div class="input-group">
    <span class="input-group-btn">
      <button class="btn btn-default btn-file" ng-click="currentPage = currentPage <= 0 ? 0 : currentPage - 1">
        Previous&hellip;
      </button>
    </span>
    <span type="text" style="text-align: center" class="form-control" ng-init="currentPage=0; maxPage=Math.ceil(suspendedUsers.length/25) || 1;">Page {{currentPage+1}} of {{maxPage}}</span>
    <span class="input-group-btn">
      <button class="btn btn-default" ng-click="currentPage = currentPage >= maxPage-1 ? maxPage-1 : currentPage + 1">Next</button>
    </span>
  </div>
  <table style="width: 100%">
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
    <tr ng-repeat="usr in suspendedUsers | orderBy:'Name'">
      <td>{{usr.Name}}</td>
      <td>{{usr.Email}}</td>
      <td>
        <button class="btn btn-primary btn-sm" ng-if="auth.AccessLevel > 249" style="float:right" ng-click="user.showManage(u)">Restore</button>
        <button class="btn btn-danger btn-sm" ng-if="auth.AccessLevel > 249" style="float:right" ng-click="user.showManage(u)">Delete</button>
      </td>
    </tr>
  </table>
</div>


<div ng-if="isActive('pending')">
  <div class="input-group">
    <span class="input-group-btn">
      <button class="btn btn-default btn-file" ng-click="currentPage = currentPage <= 0 ? 0 : currentPage - 1">
        Previous&hellip;
      </button>
    </span>
    <span type="text" style="text-align: center" class="form-control" ng-init="currentPage=0; maxPage=Math.ceil(pendingUsers.length/25) || 1;">Page {{currentPage+1}} of {{maxPage}}</span>
    <span class="input-group-btn">
      <button class="btn btn-default" ng-click="currentPage = currentPage >= maxPage-1 ? maxPage-1 : currentPage + 1">Next</button>
    </span>
  </div>
<table style="width: 100%">
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>
  <tr ng-repeat="usr in pendingUsers | orderBy:'Name'">
    <td>{{usr.Name}}</td>
    <td>{{usr.Email}}</td>
    <td>
      <button ng-if="auth.AccessLevel > 249" style="float:right" ng-click="user.showManage(u)">Review</button>
    </td>
  </tr>
</table>
</div>
